@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --fonts: "Poppins", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fd5c63;
  background-image: url("bg-intro-desktop.png");
}

main {
  margin: 100px auto;
  width: 80%;
}

.flex-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.side-one {
  width: 40%;
  margin-right: 30px;
}

.side-one-text p {
  font-size: 40px;
  color: white;
  font-family: var(--fonts);
  font-weight: 700;
  width: 80%;
  line-height: 40px;
  margin: 25% auto 0% 25%;
  text-align: left;
}
.small {
  color: white;
  width: 80%;
  margin: 5% auto 0% 25%;
  text-align: left;
  font-family: var(--fonts);
  font-size: 13px;
}
.side-two {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  /*margin: 20px 0px 0px 0px;*/
  margin: 0% auto;
  width: 80%;
  padding: 10px;
  box-shadow: 0px 10px rgba(115, 115, 115, 0.639);
}

.form-group {
  width: 100%;
  padding: 10px;
}

.error {
  color: red;
  text-align: right;
  width: 95%;
  margin: 0 auto;
  display: none;
}

.form-group input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-family: var(--fonts);
  border: rgba(128, 128, 128, 0.552) 1px solid;
}

.form-group input:valid {
  border: 1px solid limegreen;
}

.form-group input:focus:invalid {
  border: 1px solid rgb(218, 66, 66);
  background: url("icon-error.svg") no-repeat 95%;
}
.form-group input:focus:invalid ~ .error {
  display: block;
}
.form-group input[type="email"]:focus:invalid::placeholder {
  color: #fd5c63;
}
/*Not working yet*/
.form-group::after {
  color: #fd5c63;
  content: attr(data-required);
  position: relative;
  bottom: 35px;
  left: 20px;
  display: none;
}

/*.form-group input:focus:invalid {
  background-image: url("icon-error.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}
*/
.form-group input:focus {
  outline-color: hsl(248, 32%, 49%);
}

.form-group button {
  width: 100%;
  padding: 15px;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border-style: none;
  font-family: var(--fonts);
  color: white;
}

.last p {
  text-align: center;
  color: rgba(184, 192, 198, 0.91);
  font-size: 10px;
}

.last a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
.form-group button:hover {
  box-shadow: 0px 5px rgba(10, 153, 67, 0.756);
}
.form-topper {
  background-color: hsl(248, 32%, 49%);
  width: 80%;
  margin: 0% auto 15px auto;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  box-shadow: 0px 5px rgba(115, 115, 115, 0.639);
}

@media only screen and (max-width: 414px) {
  body {
    background-color: #fd5c63;
    background-image: url("bg-intro-mobile.png");
  }
  main {
    max-width: 100%;
    margin: 100px auto 0px 33px;
  }
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .side-one {
    width: 100%;
  }
  .side-one-text p {
    margin: 0% auto 20px auto;
    text-align: center;
    font-size: 25px;
  }
  .small {
    margin: 0% auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 13px;
  }
  .side-two {
    width: 100%;
  }

  form,
  .form-topper {
    width: 100%;
  }
}
